@import "~angular2-mdl/scss/color-definitions";

$color-primary: $palette-blue-500;
$color-primary-dark: $palette-blue-700;
$color-accent: $palette-amber-A200;
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;

@import '~angular2-mdl/scss/material-design-lite';
#bg-img{
	  		    background: #FFF;
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 9999;
		}
		#bg-img #img{
		    background: url('assets/img/preloader.gif') no-repeat center;
		    height: 50px;
		    width: 50px;
		    position: absolute;
		    left: 50%;
		    top: 50%;
		    margin: -25px 0 0 -25px;
	 }